root = true

[*]
charset = utf-8
end_of_line = lf
indent_style = space
indent_size = 2
insert_final_newline = true
max_line_length = 125
trim_trailing_whitespace = true

[*.js]
curly_bracket_next_line = false
indent_brace_style = K&R
quote_type = single
spaces_around_operators = true

[*.{scss,mustache,html}]
quote_type = double

[*.md]
trim_trailing_whitespace = false
